<title>IBM LOGO</title>
<hr>
<applet code=ibmlogo.class width=470 height=200>
</applet>
<P>
Public domain code by 
Radim Kolar 1996 (hsn@cybermail.net)/NetMag CZ 
<P>
Downloaded from <a href="http://ncic.netmag.cz/">NetMag NCIC</a>,
see <a href="http://ncic.netmag.cz/apps/nase/ibmlogo.html">
http://ncic.netmag.cz/apps/nase/ibmlogo.html</a> for docs and latest
version of this applet.                                                     
<HR>
<a href="ibmlogo.java">The source.</a>


